body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Black background for the entire page */
}

.app {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background-color: #ffffff; /* Ensure the app background is also black */
}

.login-container,
.registration-container {
  background: #fff; /* White background for form containers */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Shadow for better visibility on dark background */
  width: 500px; /* Fixed width for the form */
}

h2 {
  margin-bottom: 30px;
  color: #000; /* Heading text color set to black */
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9; /* Light background for input fields */
  color: #000000; /* Input text color set to black */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  margin-top: 10px;
  color: #000; /* Text color set to black */
}
